# Cấu hình PostgreSQL
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase
POSTGRES_PORT=5432

# Cấu hình Redis
REDIS_PASSWORD=redispassword
REDIS_PORT=6379

# Cấu hình Volume (để lưu trữ dữ liệu vĩnh viễn)
DB_DATA_PATH=./postgres_data
REDIS_DATA_PATH=./redis_data

# Giới hạn tài nguyên
MEM_LIMIT_POSTGRES=1g
CPU_LIMIT_POSTGRES=1.0
MEM_LIMIT_REDIS=512m
CPU_LIMIT_REDIS=0.5

# Redis Production Config
REDIS_MAXMEMORY=400mb
REDIS_MAXMEMORY_POLICY=allkeys-lru